@import "./variables.css";
@import "./reset.css";
@import "./base.css";
@import "./fonts.css";

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: var(--main-container-md-width);
  margin: 0 auto;
  padding: 0 30px;
}

/* ------------------ Light Theme ------------------ */

body.light-theme {
  background-color: var(--theme-light-main-bg-color);
  color: var(--theme-light-second-text-color);
}

/* ------------------ Dark Theme ------------------ */

body.dark-theme {
  background-color: var(--theme-dark-main-bg-color);
  color: var(--theme-dark-second-text-color);
}

.latest-posts {
  font-family: "Roboto Mono", monospace;
}
