.excerpt {
  padding: 10px;
  margin: 0 0 0.8em;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  /* max-height: 120px; */
}

.excerpt p {
  margin: 0;
  font-family: "Roboto";
}

.light {
  composes: excerpt;
  background: var(--theme-light-post-excerpt-bg-color);
}

.dark {
  composes: excerpt;
  background: var(--theme-dark-post-excerpt-bg-color);
}
