.footer {
  margin-top: 60px;
  font-family: "Roboto Mono", monospace;
  padding: 30px 0 60px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.dark {
  composes: footer;
  background-color: var(--theme-dark-header-bg-color);
}

.light {
  composes: footer;
  background-color: var(--theme-light-header-bg-color);
}

@media (max-width: 690px) {
  .inner {
    flex-direction: column;
    align-items: center;
  }

  .inner > section,
  .inner > nav {
    margin-bottom: 15px;
  }

  .footer {
    padding-bottom: 40px;
  }
}
