.info-card {
  width: 100%;
  padding: 25px 30px 25px;
  margin: 0 auto 24px;
  font-family: "Roboto";
  border-radius: 3px;
}

.default-light {
  composes: info-card;
  background-color: var(--theme-light-info-card-color);
  color: var(--theme-light-second-text-color);
}

.default-dark {
  composes: info-card;
  /* background-color: var(--theme-dark-info-card-color); */
  background-color: #37383a;
  color: var(--theme-dark-second-text-color);
}

.colorful-dark {
  composes: default-dark;
  border: 2px dashed;
  border-color: #759cc0;
  background: #212123;
}
