.logo {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.light {
  composes: logo;
  color: var(--theme-light-main-text-color);
}

.dark {
  composes: logo;
  color: var(--theme-dark-main-text-color);
}

@media (max-width: 690px) {
  .logo {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}
