@import "./variables.css";
@import "./reset.css";
@import "./base.css";
@import "./fonts.css";

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;

  height: 100%;
}

html {
  height: 100%;
}

body #___gatsby {
  height: 100%;
}

#gatsby-focus-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar-wrapper {
  max-width: 180px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
}

/* ------------------ Light Theme ------------------ */

body.light-theme {
  background-color: var(--theme-light-main-bg-color);
  color: var(--theme-light-second-text-color);
}

body.light-theme .theme-link {
  color: var(--theme-light-second-text-color);
}

/* ------------------ Dark Theme ------------------ */

body.dark-theme {
  background-color: var(--theme-dark-main-bg-color);
  color: var(--theme-dark-second-text-color);
}

body.dark-theme .theme-link {
  color: var(--theme-dark-second-text-color);
}

body.darker {
  background-color: #212223;
}
