.common {
  padding: 0 15px;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

.line {
  margin-left: 10px;
  border-right: 1px solid;
  width: 1px;
  padding: 2px 0;
}

.light {
  composes: common;
  color: var(--theme-light-second-text-color);
}

.dark {
  composes: common;
  color: var(--theme-dark-second-text-color);
}

.light .line {
  border-color: var(--theme-light-second-text-color);
}

.dark .line {
  border-color: var(--theme-dark-second-text-color);
}

.subscribe {
  display: inline-block;
}

.subscribe a {
  padding: 7px 12px;
  border-radius: 4px;
  font-weight: bold;
  background: #37383a;
  border: 2px dashed #387cc8;
  color: #fff;
  display: flex;
  align-items: center;
}
