.panel {
  width: 30%;
  margin-right: 30px;
  min-width: 315px;
}

@media (max-width: 1100px) {
  .panel {
    /* max-width: 100%; */
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
