.block {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: flex-start;
}

.block a {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
}

.block a:last-child {
  margin-bottom: 0;
}

.block a span:hover {
  opacity: 0.7;
}

.block img {
  width: 30px;
  margin-right: 15px;
  fill: #1c1d1e;
}
