.subscribing {
}

.subscribing h4 {
  margin-bottom: 1rem;
}

.subscribing input[type="email"] {
  outline: none;
  border-radius: 4px;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 18px;
}

.subscribing button {
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 3px;
  font-weight: 700;
  font-family: "Roboto Mono";
  margin-bottom: 10px;
}

.dark {
  composes: subscribing;
}

.dark input[type="email"] {
  /* background: #2a2b2d; */
  background: #f4f4f4;
  border: 1px solid #1c1d1e;
  color: #333;
}

.dark button {
  /* background: #2a2a2d; */
  background: #387cc8;
  color: #fff;
  border: 1px solid #1c1d1e;
}

.light {
  composes: subscribing;
}

.light input[type="email"] {
  background: var(--theme-light-main-bg-color);
  border: 1px solid #b5b6b7;
}

.light button {
  background: #647f8f;
  color: #fff;
  border: 1px solid #465c69;
}

.result-success {
  font-size: 1.2rem;
}

.result-success img {
  margin-right: 8px;
}

.result-error {
}

.result-error img {
  margin-right: 8px;
}
